/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 6, 2022, 4:58:35 PM
    Author     : drewm
*/

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  color: #ee9b00;
  background-color: yellow;
}